{% extends "layout.html" %}
{% block content %}
<form method="post" action="{{url_for('logic_routes.add_service')}}">
    <p>
        <label for="service_name">Service name</label>
        <input name="service_name" type="text" id="service_name">
    </p>
    <p>
        <label for="service_price">Service price</label>
        <input name="service_price" type="text" id="service_price">
    </p>
    <p>
        <label for="service_guests">Service guests</label>
        <input name="service_guests" type="text" id="service_guests">
    </p>
    <p><input type="submit" /></p>
</form>
{% endblock %}