<!DOCTYPE html>
<html>
  <head>
    <title>Main page</title>
    <!-- Latest compiled and minified CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static', filename='custom.css')}}">
  </head>
  <body>
    <div class="nav">
      <a href="{{url_for('form_routes.add_meal_form')}}">Add meal</a>
      <a href="{{url_for('form_routes.add_service_form')}}">Add service</a>
      <a href="{{url_for('form_routes.check_discount_form')}}">Check discount</a>
      <a href="{{url_for('logic_routes.sum')}}">Check sum</a>
    </div>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>